spring:
  # 스프링 관련 공통 설정
  #mvc:
    #servlet:
      #path: /api # 모든 요청 URL에 /api 접두사 추가

  application:
    name: my-recipe # 어플리케이션 이름
  config:
    import: "optional:file:./application.secret.yml" # 외부 설정 파일 import
  messages:
    encoding: UTF-8 # 메시지 파일의 인코딩을 UTF-8로 설정

  # 데이터 소스 및 HikariCP(DB 커넥션 풀) 설정
  datasource:
    url: jdbc:mysql://${DB_HOST}:${DB_PORT}/${DB_NAME}?serverTimezone=Asia/Seoul&characterEncoding=UTF-8
    username: ${DB_USER}
    password: ${DB_PASS}

  # JPA 설정
  jpa:
    hibernate:
      ddl-auto: update   # 개발용: update / create / validate 중 선택
    properties:
      hibernate:
        format_sql: true
    show-sql: true
    open-in-view: false  # API 서버면 보통 false 추천

# 서버 설정
server:
  port: 8080 # 서버 포트
  tomcat:
    connection-timeout: 5000 # 연결 타임아웃 (밀리초)
  error:
    include-stacktrace: never # 예외 응답 body에 stacktrace 미포함
    include-message: always   # 예외 응답 body에 message 항상 포함
    whitelabel:
      enabled: true

# 로깅 설정
logging:
#  file:
#    name: ${LOG_PATH} # 로그 파일 경로 및 이름
  level:
    org.hibernate.SQL: debug
    org.hibernate.orm.jdbc.bind: trace   # 바인딩 값까지 보고 싶을 때 (버전에 따라 키가 다를 수 있음)
    root: info
#    org.springframework: info
#    org.springframework.web: debug

# JWT 설정
jwt:
  secret-base64: ${JWT_SECRET_KEY} # JWT 비밀 키
  access-exp-minutes: ${JWT_ACCESS_EXPIRATION} # JWT Access Token 만료 시간
  refresh-exp-days: ${JWT_REFRESH_EXPIRATION} # JWT Refresh Token 만료 시간